

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tytka Słodyczy</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryUI")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")       
    </head>
    <body>
        <div id="wrapper">
            <!-- LOGO -->
            <div class="logo col-lg-12">
                @*<img src="~/Images/Shared/Logo.jpg" alt="logo" />*@
            </div>
            <!---->
            <!-- NAVBAR -->
            <div class="col-lg-3">
                <ul class="nav navbar-inverse">
                    <li style="background-color: #428bca">
                        @Html.ActionLink("Koszyk", "Index", "ShoppingCart", new { @style = "color: #333333;" })
                    </li>
                    <li>
                        @Html.ActionLink("Producenci", "Index", "Producers")
                    </li>
                    <li>
                        @Html.ActionLink("Produkty", "Index", "Products")
                    </li>
                    <li>
                        @Html.ActionLink("Logowanie", "Login", "Users")
                    </li>
                </ul>
                
            </div>

            
            <!---->
            <!-- CONTENT PAGE -->
            <div id="page-content-wrapper" class="col-lg-9">
                <div class="container-fluid body-content">
                    @RenderBody()
                </div>
            </div>
            <!---->
        </div>
    </body>

    @RenderSection("Scripts", required: false)

</html>
