@using OD.Infrastructure
@model IEnumerable<OD.Models.Product>

<div class="col-xs-12 col-md-12">
    <div class="row">
        @foreach (var product in Model)
        {
            using (Html.BeginForm("AddToCart", "ShoppingCart", new { id = product.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="col-xs-12 col-md-3" style="padding: 15px;">
                    <div class="thumbnail">
                        @Html.Image(@product.ImageUrl, @product.Name + " Foto")
                        <div class="caption text-center">
                            <p>
                                <b>Nazwa:</b> <span>@product.Name</span>
                            </p>
                            <p>
                                <b>Cena:</b> <span>@product.Price ZŁ</span>
                            </p>
                            <p>
                                <b>Dostępna Ilość:</b> <span>@product.Quantity</span>
                            </p>
                            @*
                            <p>
                                Ponizej mial byc slider, ale gowno nie dziala i do konca nie wiem czemu :/
                                Nie bede sie nad tym specjalnie rozwodzic ale jakby co zostawiam, moze kiedys sie jeszcze pobawie :D
                                Link do JSFiddle - http://jsfiddle.net/jearles/Dt7Ka/

                                <b>Dodaj do koszyka:</b> <input data-bind="value: quantity, valueUpdate: 'afterkeydown'" style="width: 40px"/>
                                <div style="margin: 10px" data-bind="slider: quantity, sliderOptions: {min: 0, max: @product.Quantity, range: 'min', step: 1}"></div>
                            </p>
                            *@
                            <p>
                                <b>Dodaj do koszyka: </b>
                                <input style="width: 40px" type="text" name="quantity" />
                            </p>
                            <input type="submit" class="btn btn-info" id="AddToCartButton" value="Dodaj do koszyka" />
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        // To ponizej mialo byc do suwaka jakby co :D
        ko.bindingHandlers.slider = {
            init: function (element, valueAccessor, allBindingsAccessor) {
                var options = allBindingsAccessor().sliderOptions || {};
                $(element).slider(options);
                ko.utils.registerEventHandler(element, "slidechange", function (event, ui) {
                    var observable = valueAccessor();
                    observable(ui.value);
                });
                ko.utils.domNodeDisposal.addDisposeCallback(element, function () {
                    $(element).slider("destroy");
                });
                ko.utils.registerEventHandler(element, "slide", function (event, ui) {
                    var observable = valueAccessor();
                    observable(ui.value);
                });
            },
            update: function (element, valueAccessor) {
                var value = ko.utils.unwrapObservable(valueAccessor());
                if (isNaN(value)) value = 0;
                $(element).slider("value", value);

            }
        };


        var ViewModel = function () {
            var self = this;

            self.quantity = ko.observable(0);
        }

        ko.applyBindings(new ViewModel());
    </script>
}    