@using OD.Infrastructure
@model IEnumerable<OD.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-danger" })
</p>


<div class="col-xs-12 col-md-12">
    <div class="row">
        @foreach (var product in Model)
            {
            <div class="col-xs-12 col-md-3" style="padding: 15px;">
                <div class="thumbnail">
                    @Html.Image(@product.ImageUrl, @product.Name + " Foto")
                    <div class="caption text-center">
                        <p>
                            <b>Nazwa:</b> <span>@product.Name</span>
                        </p>
                        <p>
                            <b>Cena:</b> <span>@product.Price ZŁ</span>
                        </p>
                        <p class="text-center">
                            @Html.ActionLink("Dodaj do koszyka", "AddToCart", "ShoppingCart", new { id = product.Id }, new { @class = "btn btn-info" })
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>